numpy==1.26.4
Cython==0.29.37
PyYAML==6.0.2
pandas==2.2.3
tqdm==4.67.1
trimesh==4.6.8
open3d==0.19.0
matplotlib==3.10.1
scipy==1.15.2
scikit-image==0.25.2
scikit-learn==1.6.1
timm==0.9.16
einops==0.8.1
plyfile==1.1
Pillow==11.1.0
fvcore==0.1.5.post20221221
tensorboard==2.19.0
torchinfo==1.8.0
torchviz==0.0.3
spconv-cu126==2.3.8
